html
  head
    link(rel="stylesheet" type="text/css" href="./css/manifest.css")

  body
    // Svg inline sprites
    div.sprite(style="position: absolute; top: 0; left: 0; width: 0; height: 0;")
      include sprite

    h1 Test Template
    h1 Test Template
    h1 Test Template
    h1 Test Template
    // Svg inline sprites test icon
    svg(width="30" height="30")
      use(xlink:href="#agent_fb")
