div,h1,h2,h3,h4,h5,h6,li,ol,p,span,ul{margin:0;padding:0}
li,ol,ul{list-style-type:none}
button{outline:0;border:0;background:0 0}
a{text-decoration:none}
html,
body {
  font-size: 16px;
  color: #333C4E;
  background: #fafafa;
  font-family: 'roboto', Arial, sans-serif;
  font-family: 'roboto', Arial, sans-serif;
  font-weight: 700;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;

}
html {
  overflow-y: scroll;
}
.fix {
  display: block;
  width: 100%;
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapeer__left-colunm{
  height: 600px;
  background-color: #303841;
  width: 320px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.wrapper__main-content{
  height: 54%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs{
  margin-left: 76px;
}
.main-content__tabs{
  height: 40.2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tabs__container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}
.tabs__button{
  font-size: 14px;
  position: relative;
  color: #303841;
  width: 105px;
  height: 63px;
  text-align: center;
  line-height: 63px;
  margin-left: -42px;
}
.wrapper__name{
  font-size: 17px;
  margin-right: 33px;
  margin-left: 3px;
  margin-top: 25px;
}
.wrapper__status{
  background: #ffc12d;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: white;
  font-size: 11px;
  height: 18px;
  width: 51px;
  text-align: center;
  line-height: 18px;
  margin-left: -9px;
  margin-top: 20px;
}
.details__position{
  margin-bottom: 16px;
  color: #999999;
  font-size: 15px;
}
.info__phone{
  margin-bottom: 56px;
}
.phone__number{
  color: #442a9d;
  font-size: 15px;
}
.phone__type{
  color: #999999;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}
.main-content__user-info{
  height: 100%;
  width: 17.6%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-details__info{
  height: 124px;
  width: 100%;
  border-bottom: solid 1px #ededed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.info{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}
.info__address{
  margin-bottom: 56px;
  margin-right: 113px;
}
.address__text{
  font-size: 12px;
  color: #999999;
}
.address__address{
  color: #442a9d;
  font-size: 15px;
  margin-bottom: 2px;
}
.info__button{
  width: 159px;
  height: 36px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #303841;
  font-size: 14px;
  color: #ffc12d;
  margin-bottom: 56px;
  margin-right: 35px;
}
.info__wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-content__user-details{
  height: 100%;
  width: 100%;
}
.user-info__avatar{
  height: 90px;
  width: 90px;
  background: url("/images/ico/avatar2.png") no-repeat;
  background-position: center 10%;
  -moz-background-size: 129%;
    -o-background-size: 129%;
       background-size: 129%;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  margin-left: 34px;
}
.header__left-side{
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right-side{
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ring{
  background: url("/images/ico/ring.png") no-repeat;
  width: 20px;
  position: relative;
  height: 20px;
}
.header__ring {
  margin-right: 37px;
}
.header__avatar{
  height: 38px;
  width: 38px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  margin-right: 17px;
}
.header__user{
  color: #4f4f4f;
  font-family: "Open Sans"; /* ! move font to body + inputs ect. */
  font-size: 16px;
  font-weight: 700;
  margin-right: 40px;
}
.ring__notify{
    background: url("/images/ico/notify.png") no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 14px;
    top: -5px;
    text-align: center;
    line-height: 15px;
    color: white;
    font-size: 9px;
}
.header__costumers{
  color: #4f4f4f;
  font-size: 16px;
  padding-left: 38px;
  font-family: 'Open Sans', sans-serif;
}
.header__name{
  font-size: 16px;
  color: #442a9d;
  padding-left: 0px;
  padding-right: 17px;
  font-family: 'Open Sans', sans-serif;
}
.wrapper__right-colunm{
  height: 389px;
  width: 100%;
  background: white;
}
.left-colunm__header{
  width: 53px;
  height: 19px;
  color: #ffc12d;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -1.3px;
  margin-top: 45px;
  margin-left: 26px;
  margin-bottom: 45px;
}
.right-column__header{
  height: 68px;
  background: white;
  border-bottom: solid 1px #ededed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header__input{
  background: url(/images/ico/search.png) no-repeat scroll right 17px top 10px;
  width: 285px;
  height: 38px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #ededed;
  margin-right: 45px;
  padding-left: 21px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
.header_arrow{
  border-top: solid 3px black;
  border-right: solid 3px black;
  height: 7px;
  width: 7px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.wrapper__img{
  margin-right: 18px;
}
.wrapper__button{
  width: 100%;
  font-size: 17px;
  color: #ffffff;
  text-align: left;
  padding-left: 26px;
  padding-top: 8px;
  position: relative;
}
.reports_btn{
  height: 53px;
}
.calendar_btn{
  height: 49px;
}
.customers_btn{
  height: 68px;
}
.dashboard_btn{
  height: 65px;
}
.customers_btn.is-active{
  background-color: #442a9d;
}
.customers_btn.is-active:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 5px;
  bottom: 0;
  background-color: #ffc12d;
}
.tabs__button.is-active:before{
  content: "";
  position: absolute;
  left: 0px;
  right: 0;
  height: 6px;
  bottom: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-color: #442a9d;
}
.wrapper__line{
  background-color: #ffffff;
  opacity: 0.07;
  height: 1px;
  width: 90%;
}
.left-colunm__wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
